<h3 class='show_title'><%= @blogpost.title %></h3>
<p class='show_read'><%= @blogpost.read + '[' + @blogpost.bloggenre.name + ']' %></p>
<% contents = @blogpost.content.split('\n') %>
<div class='show_content'>
  <% contents.each do |content| %>
    <p><%= content %></p>
  <% end %>
</div>
<p class='show_created'>(<%= @blogpost.created_at %>)</p>
