<h1><%= @questionary.title %></h1>

<p></p>

<table>
  <tr>
    <th>質問ID</th>
    <th>集計</th>
  </tr>
  <% @calc.each do |ky, vl| %>
    <tr>
      <td><%= ky %></td>
      <td>
        <% for v in vl %>
          <%= v.to_i %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
