<p id="notice"><%= notice %></p>
<h1>選択肢の作成</h1>
<p>「<%= @questionary_item.content %>」の選択肢</p>

<%= render 'form', questionary_choice: @questionary_choice %>

<hr>
<%= link_to '次の質問を作成する', "/questionary_items/#{@questionary_item.questionary_id}/new" %>
